* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    width: 100%;            
    max-width: 500px;        
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}


#companyLogo {
    max-width: 150px;        
    height: auto;
    display: block;
    margin: 0 auto 20px auto; 
}

#photo {
    width: 100%;             
    max-width: 200px;
    height: 200px;
    object-fit: contain;
    background: white;
    display: block;
    margin: 0 auto 20px auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;     
}

h1 {
    font-size: 22px;
    text-align: center;      
    margin-top: 0;
}
